app/views/recipes/new
<h2>Create a Recipe</h2>

<%= form_for @recipe do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %><br>

  <%= f.label "Description" %>
  <%= f.text_area :description %><br>

  <%= f.label "Quantity" %>
  <% f.fields_for :quantities do |q| %>
    <%= q.label :amount %>
    <%= q.text_field :amount %><br>
      <% q.fields_for :ingredient do |i| %>
        <%= i.text_field :name %>
      <% end %>
  <% end %>

  <%= f.label "Instructions" %>
  <%= f.text_area :instructions %><br>

  <%= f.submit %>
<% end %>