
<h3>Name: <%= @recipe.name %><br></h3>
<h4>Description: <%= @recipe.description %><br></h4>
  <h5><p>Ingredients:</h5> <% @recipe.quantities.each do |q| %></p>
    <p><%= q.amount %> <%= q.ingredient.name %></p>
  <% end %>
<h5>Instructions:</h5> <%= @recipe.instructions %><br>


<%= link_to "Back", recipes_path, class: 'btn btn-secondary' %>
<% if current_user == @recipe.user %>
  <%= link_to "Edit", edit_user_recipe_path(current_user, @recipe), class: 'btn btn-secondary' %>
  <%= form_tag recipe_path(@recipe), method: "delete", data: { confirm: "Really?" } do %>
    <%= submit_tag "Delete", class: 'btn btn-danger' %>
  <% end %>
<% end %>
