<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">4 Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto">
      <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "Logout", logout_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "AjaxLand", ajaxland_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "All Recipes", recipes_path, class: 'nav-link', id: 'all-recipes' %>
      </li>
      <li class="nav-item">
        <%= link_to "New Recipe", new_user_recipe_path(current_user.id), class: 'nav-link', id: 'new-recipe' %>
      </li>
      <li class="nav-item">
        <%= link_to "My Recipes", user_recipes_path(current_user.id), class: 'nav-link', id: 'my-recipes' %>
      </li>
        <% if params[:user_id] %>
          <li class="nav-item">
            <%= link_to "Sort by Name", ordered_path(current_user.id), class: 'nav-link' %> 
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sort by Name", recipes_order_by_name_path, class: 'nav-link' %> 
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
        <%= link_to "Signup", signup_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
        <%= link_to "Login", login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>